<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Checkerboard</title>
  </head>
  <body>
    <div class="boxes">
      <div class="mainx">
        {% for x in range(numx): %}
        <div class="mainy">
          {% for y in range(numy): %} {% if ((x + y) % 2) == 0 %}
          <div class="box" style="background-color: {{even_color}};"></div>
          {% else %} <div class="box" style="background-color: {{odd_color}};">
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="boxes"></div>
  </body>
</html>
